@model MarwanMamdohW2_0523016.ViewModel.taskViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="taskid" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pid" class="control-label"></label>
                <select asp-for="pid" class="form-control" asp-items="ViewBag.pid">
                    @foreach(var item in Model.projects)
                    {
                        <option value="@item.Projectid">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="memid" class="control-label"></label>
                <select asp-for="memid" class="form-control" asp-items="ViewBag.memid">
                    @foreach (var item in Model.teamMembers)
                    {
                        <option value="@item.TeamMemberid">@item.name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
